.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  color: #000;
  position: relative;
  white-space: nowrap;
  fill: #d9d9d9;
  overflow: hidden;
  min-height: 95px;
  width: 100%;
  align-items: center;
  padding: 34px 20px;
  font: 400 30px/36px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .image-wrapper {
    white-space: initial;
    max-width: 100%;
  }
}

.img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.container {
  display: flex;
  flex-direction: row; /* Display the description and GitHub link side by side */
  margin-top: 26px;
  width: 100%;
  justify-content: space-between; /* Add space between description and GitHub link */
}

@media (max-width: 991px) {
  .container {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center; /* Center elements horizontally on smaller screens */
  }
}

.description {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px); /* Adjusted width for the description */
  padding: 49px 66px 49px 80px;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
    width: 100%; /* Full width on smaller screens */
    padding: 0 20px;
    margin-bottom: 20px; /* Add margin between description and GitHub link on smaller screens */
  }
}

.description-text {
  color: #000;
  white-space: nowrap;
  font: 200 28px/34px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .description-text {
    max-width: 100%;
    white-space: initial;
  }
}

.github-link {
  color: #000;
  white-space: nowrap;
  font: 200 28px/34px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .github-link {
    white-space: initial;
  }
}
