.main-container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #d9d9d9;
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 28px 20px;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
  }
}

.search-bar {
  color: #000;
  width: 871px;
  border-radius: 6px;
  background-color: rgba(254, 254, 254, 0.43);
  margin-left: 81px;
  max-width: 100%;
  justify-content: center;
  align-items: start;
  padding: 27px 20px 27px 37px;
  font: 200 24px Inter, sans-serif;
}

@media (max-width: 991px) {
  .search-bar {
    padding-left: 10px;
  }
}

.button-group {
  align-self: center;
  display: flex;
  margin-top: 74px;
  width: 100%;
  max-width: 1209px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .button-group {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
}

.button {
  color: #000;
  white-space: nowrap;
  font: 400 30px Inter, sans-serif;
}

@media (max-width: 991px) {
  .button {
    white-space: initial;
  }
}

.divider {
  background-color: #000;
  align-self: center;
  margin-top: 9px;
  width: 1306px;
  height: 1px;
}

@media (max-width: 991px) {
  .divider {
    max-width: 100%;
  }
}

.package-name {
  color: #000;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #d9d9d9;
  align-self: center;
  margin-top: 42px;
  width: 100%;
  max-width: 1288px;
  padding: 46px 20px;
  font: 400 30px Inter, sans-serif;
}

@media (max-width: 991px) {
  .package-name {
    white-space: initial;
    max-width: 100%;
    margin-top: 40px;
  }
}