.main-container {
  display: flex;
  flex-direction: column;
}

.header {
    background-color: #d9d9d9;
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 28px 20px;
  }
  
  @media (max-width: 991px) {
    .header {
      max-width: 100%;
    }
  }