  .package-name {
    color: #000;
    white-space: nowrap;
    border-radius: 6px;
    background-color: #d9d9d9;
    margin: 42px auto; /* Centering the package-name horizontally */
    max-width: 1288px;
    padding: 20px 10px;
    font: 400 30px Inter, sans-serif;
    text-align: center; /* Centering the text within the package-name */
  }
  
  @media (max-width: 991px) {
    .package-name {
      white-space: initial;
      max-width: 100%;
      margin: 40px auto; /* Adjusted margin for smaller screens */
    }
  }
  