/* top-(vertical-scrolling) 

position: absolute;
height: 520px;
left: 0px;
right: -680px;
top: 0px;
overflow-y: scroll;

background: #175C5C;


/* green 

position: absolute;
width: 100px;
height: 100px;
left: 892px;
top: 24px;

background: #76EDD1;


/* green 

position: absolute;
width: 100px;
height: 100px;
left: 24px;
top: 148px;

background: #76EDD1;




position: absolute;
width: 100px;
height: 100px;
left: 24px;
top: 272px;

background: #76EDD1;




position: absolute;
width: 100px;
height: 100px;
left: 520px;
top: 272px;

background: #76EDD1;




position: absolute;
width: 100px;
height: 100px;
left: 1016px;
top: 396px;

background: #76EDD1;




position: absolute;
width: 100px;
height: 100px;
left: 1506px;
top: 396px;

background: #76EDD1;




position: absolute;
width: 100px;
height: 100px;
left: 149px;
top: 644px;

background: #76EDD1;




position: absolute;
width: 100px;
height: 100px;
left: 1389px;
top: 520px;

background: #76EDD1;

*/